<h1>Listing names</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Address</th>
    <th>Geographical region</th>
    <th>Department</th>
    <th>Municipality</th>
    <th>Admin district</th>
    <th>Commune</th>
  </tr>

<% @names.each do |name| %>
  <tr>
    <td><%=h name.firstname %></td>
    <td><%=h name.lastname %></td>
    <td><%=h name.address %></td>
    <td><%=h name.geographical_region %></td>
    <td><%=h name.department %></td>
    <td><%=h name.municipality %></td>
    <td><%=h name.admin_district %></td>
    <td><%=h name.commune %></td>
    <td><%= link_to 'Show', name %></td>
    <td><%= link_to 'Edit', edit_name_path(name) %></td>
    <td><%= link_to 'Destroy', name, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New name', new_name_path %>